// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.remove {
    cursor: pointer;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
