<template>
    <div class="container">
        <div class="justify-content-center">
            <div>
                <form v-for="employee in item">
                    <div class="form-row">
                        <div class="col-4">
                            <input disabled type="text" class="form-control" :placeholder="employee.name">
                        </div>
                        <div class="col-5">
                            <input disabled type="text" class="form-control" :placeholder="employee.email">
                        </div>
                        <div class="col-2">
                            <input disabled type="text" class="form-control" :placeholder="employee.department">
                        </div>
                        <div class="col-1">
                            <p class="remove" @click="removeEmployee(employee.id)">Remove</p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <br>
        <div>
        </div>
        <br>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {

        mounted() {
            console.log('Component mounted.')
        },

      data() {
        return {
          deleted: []
        }
      },

        props: {
            item: {
                type: Array,
                required: true
            }
        },

        methods: {
            removeEmployee(_id) {
                axios.delete(`http://localhost:8090/delete/${_id}`, {

                })

                location.reload(true)
            }
        }
    }
</script>
